* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  width: 30%;
  height: 70vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.app h1 {
  padding-top: 20px;
  font-family: Arial;
}
img {
  width: 100%;
  height: 505px;
  cursor: pointer;
}
.imgLamp {
  position: absolute;
  left: 20px;
  z-index: 0;
  top: 0;
}
.iimg {
  position: absolute;
  left: 2px;
  z-index: 1;
}
.divBox {
  position: relative;
  width: 346px;
  height: 505px;
  margin: 0 auto;
}
.imgLampMiacrac {
  position: absolute;
}
.dexin {
  z-index: 2;
  position: absolute;
}
